.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.canvases {
    width: 75vw;
    height: inherit;
}

#webgl-canvas,
#css-canvas {
    /* avoid scrollbars */
    width: calc(75vw - .2em);
    height: calc(100vh - .2em);
}

#css-canvas {
    position: absolute;
    top: 0em;
    z-index: -999;
}

.gui {
    padding: 1em;
    width: 25vw;
    height: inherit;
    box-sizing: border-box;
    border-right: 1px solid gray;
}

.error {
    position: absolute !important; 
    bottom: 0em;
    width: 355px;
    z-index: 1000;
}

.pc-tooltip {
    position: absolute;
    opacity: 0;
    width: 250px;
    height: auto;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    top: 0;
    left: 0;
    transition: all 0.25s ease-in-out;
}

