* {
    margin: 0;
    padding: 0;
}

#webgl-canvas {
    top: 0em;
    left: 0em;
    height: 100%;
    width: 100%;
}

#css-canvas {
    position: absolute;
    top: 0em;
    left: 0em;
    width: 100%;
    height: 100%;
}

.gui-buttons {
    position: absolute;
    top: 0em;
    
}