<!DOCTYPE html>
<html>
    <head>
        <title>PolyCube</title>
        <!--script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="./dist/main.js" type="module"></script-->
    </head>
    <body>
        <div class="wrapper">
            <div class="gui-buttons">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary" id="geo-view-button">GeoCube</button>
                    <button type="button" class="btn btn-secondary" id="set-view-button">SetCube</button>
                    <button type="button" class="btn btn-secondary" id="net-view-button">NetCube</button>
                    <button type="button" class="btn btn-secondary" id="poly-view-button">PolyCube</button>
                </div>
            </div>
            <canvas id="polycube-canvas"></canvas>
        </div>
    </body>
</html>