.wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.canvas-wrapper {
    /* position: relative; */
    top: 0em;
    left: 0em;
    z-index: -1000;
    width: 100%;
    height: 100%;
}

#webgl-canvas,
#css-canvas {
    /* pointer-events: none; */
    width: 100%;
    height: 100%;
    z-index: -999;
}

.gui-wrapper {
    position: absolute;
    top: 0em;
    margin: 0 auto;
    z-index: 1000;
    width: 355px;
}

.error {
    position: absolute !important; 
    bottom: 0em;
    width: 355px;
    z-index: 1000;
}

.pc-tooltip {
    position: absolute;
    opacity: 0;
    width: 250px;
    height: auto;
    background-color: white;
    padding: 25px;
    border-radius: 5px;
    top: 0;
    left: 0;
    transition: all 0.25s ease-in-out;
}
