<div class="wrapper">
    <div class="gui">
            <div class="pc-tooltip" #tooltip></div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary" id="poly-view-button">PolyCube</button>
            </div>
            <div class="btn-group btn-group-xs" role="group">
                <button type="button" class="btn btn-secondary " id="geo-view-button">GeoCube</button>
                <button type="button" class="btn btn-secondary" id="set-view-button">SetCube</button>
                <button type="button" class="btn btn-secondary" id="net-view-button">NetCube</button>
            </div>
            <div class="btn-group btn-group-xs" role="group">
                <button type="button" class="btn btn-secondary" id="stc-view-button">STC</button>
                <button type="button" class="btn btn-secondary" id="jp-view-button">JP</button>
                <button type="button" class="btn btn-secondary" id="si-view-button">SI</button>
                <button type="button" class="btn btn-secondary" id="ani-view-button">ANI</button>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Spreadsheet Id" #spreadsheetInput>
                <div class="input-group-append">
                    <div *ngIf="!loadingDataset">
                        <button class="btn btn-secondary" type="button" (click)="updateDataset()">Load</button>
                    </div>
                    <div *ngIf="loadingDataset">
                        <button class="btn btn-secondary" type="button" disabled>
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            Loading...
                        </button>
                    </div>
                </div>
            </div>

            <div class="preview-item" *ngIf="previewItem">
                <h2 class="preview-title">{{ previewItem.title }} </h2>
                <img class="preview-picture" [src]="previewItem.mediaURL">
                <p class="preview-metainfo">{{ previewItem.date }} @ {{ previewItem.location }}</p>
                <br>
                <p class="preview-description">{{ previewItem.description }}</p>
                <a [attr.href]="previewItem.externalURL" target="_blank">More info...</a>
            </div>
            <app-timeslider 
                *ngIf="dataLoaded" 
                [minDate]="getMinDate()" 
                [maxDate]="getMaxDate()" 
                [width]="60" 
                [height]="getWindowInnerHeight()"
                (onSelect)="filterData($event)"
            ></app-timeslider>
    </div>
    <div class="canvases">
        <canvas id="webgl-canvas" #webGLCanvas></canvas>
        <div id="css-canvas" #cssCanvas></div>
    </div>
</div>

<div *ngIf="errorOccurred" class="alert alert-danger error">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" (click)="errorOccurred = false">&times;</a>
    <strong>Error</strong> {{ errorMessage }}
</div>
